/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Estilo para el texto en los elementos <li> */
nav ul li a {
    text-decoration: none; /* Eliminar subrayado del enlace */
    transition: color 0.5s; /* Transición suave para el cambio de color de texto */
}

nav ul li:hover a {
    color: #616161; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.gato {
    max-width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.gato img {
    max-width: 100%;
    width: 300px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}



